.TableSearch{

    float:right;
     
}
    .TableSearch .go {
    padding-left:6px;
    vertical-align:baseline;
    }
.keyword {
    padding-top:25px;

}

#wishName{
    color:#E47911;
    font: bold 25px Arial,Verdana,Helvetica,sans-serif;

}

.ap_closebutton {
        background-image: url(http://g-ec4.images-amazon.com/images/G/01/javascripts/lib/popover/images/light/sprite-h._V219326280_.png);

}
    .sortbarTopAnimate {
    background-image: url(http://g-ec4.images-amazon.com/images/G/28/x-locale/registry/wishlist/sprite-site-wide_paginate._V185725686_.png);
    background-position: 0 -240px;
    height: 15px;
    width: 100%;
  }
/* CN--registries-2620092143.css start */
  .beaconUI ,
  .beaconUI TD,
  .beaconUI TH,
  .beaconUI a,
  .beaconUI a:link,
  .beaconUI .small,
  .beaconUI .tiny {
    font-family: arial,helvetica,verdana,sans-serif;
  }
  .beaconUI .tiny {
    font-size: 11px;
  }
  .list-items {
    padding: 0;
  }
  .wlrdZeroTable {
    border-spacing: 0;
    margin: 0;
    text-indent: 0;
    padding: 0;
    width: 100%;
  }
  .wlrdZeroTable td { padding: 0; }
  * HTML #wlMain {
    width: 100%;
  }
  .noBeaconUI .wlNoUnderline a,
  .noBeaconUI .wlNoUnderline a:link {
    cursor:            pointer;
    text-decoration:   none;
    color: #004B91;
  }
  .beaconUI .wlNoUnderline a,
  .beaconUI .wlNoUnderline a:link {
    cursor:            pointer;
    text-decoration:   none;
    color: #124C90;
  }
  .noBeaconUI .wlNoUnderline a:visited {
    color: #004B91;
  }
  .beaconUI .wlNoUnderline a:visited {
    color: #124C90;
  }
  .noBeaconUI .wlNoUnderline a:hover {
    cursor:            pointer;
    text-decoration:   underline;
    color: #CC6600;
  }
  .beaconUI .wlNoUnderline a:hover {
    cursor:            pointer;
    text-decoration:   underline;
    color: #E47911;
  }
  .wlHover, .wlHoverSmall{
    font-size:     12px;
     font-size:    13px;
    font-weight:       bold;
    cursor:            pointer;
    background-color:  #FFFFFF;
    border:            none;
    align:             left;
    padding:           0;
    margin:            0;
    text-align:        left;
    text-decoration:   underline;
  }
  .noBeaconUI .wlHover, 
  .noBeaconUI .wlHoverSmall {
     color:             #CC6600;
  }
  .beaconUI .wlHover, 
  .beaconUI .wlHoverSmall {
     color:             #E47911;
  }
  .noBeaconUI .wlHover {
    font-family:       Verdana, Arial, Helvetica, sans-serif;
  }
  .beaconUI .wlHover {
    font-family:       Arial, Helvetica,Verdana, sans-serif;
  }
  .wlHoverSmall {
    font-size:     11px;
     font-size:    13px;
    font-weight:       normal;
  }
  .wlMenuItem {
    padding: 5px 0 5px 10px;
  }
  .wlMenuItem a {
    display: block;
    width: 100%;
  }
  .noBeaconUI .wlMenuItem a:hover {
    background-color: #EAF3FE;
  }
  .beaconUI .wlMenuItem a:hover {
    background-color: #EBEBEB;
  }
  .wl-title-searchbox { 
    margin: 6px 0 0 14px; 
  }
  .beaconUI .wl-title-searchbox { 
    margin: 6px 4px 0 14px; 
  }
  .beaconUI #listActions {
    margin-top: 10px;
    font-size: 12px;
    font-family: arial,helvetica,verdana,sans-serif;
  }
  #listTitleTxt {
    color:#E47911;
    margin: 0;
    padding: 0;
    display: inline;
  }
  .noBeaconUI #listTitleTxt {
    font: bold 25px Arial,Verdana,Helvetica,sans-serif
  }
  .beaconUI #listTitleTxt {
    font: bold 28px Arial,Helvetica,Verdana,sans-serif;
  }
  #listTitleHoverLink {
     
    cursor: pointer;
    display: none;
    color: #004B91;
    text-decoration: underline;
    font-size:     12px;
     font-size:    13px;
    padding-left: 12px;
    
  }
  #listTitleInput {
    float: left;
    margin-right: 0.95em;
    font-size: 18px;
    font-weight: bold;
    display: inline;
  }
  #listTitleSaved {
    display: none;
    color: green;
    font-weight: bold;
    padding-left: 12px;
  }
  #listTitleError {
    cursor: pointer;
    display: none;
    color: #990000;
    font-weight: bold;
    padding-left: 12px;
  }
  #editPrivacyContent input {
    margin: 0;
  }
  #editPrivacyContent td {
    padding: 5px 5px 5px 0;
  }
  #listTitleEdit {
    height: 31px;
  }
  #editThisList {
    margin-right: 15px;
  }
  #privacyMessage,
  #listActionMenus {
    margin: 5px 0;
  }
  .beaconUI #privacyMessage,
  .beaconUI #listActionMenus {
    color: #333333;
  }
  #listActionMenus a {
    font-size:     12px;
     font-size:    13px;
  }
  .noBeaconUI #listActionMenus a {
    font-weight: bold;
  }
  #printThisList,
  #shareThisList {
    margin-right: 15px;
  }
  #printThisList div,
  #shareThisList div { 
    display: inline;
  }
  #listMessageerrorTitle, #listMessagewarningTitle, #listMessagesuccessTitle, #listMessageTitle {
    display: inline;
  }
  #listMessageerrorUndo, #listMessagewarningUndo, #listMessagesuccessUndo, #listMessageUndo {
    display: none;
    font-weight: normal;
    font-size:     12px;
     font-size:    13px;
  }
  #listMessageerrorClose, #listMessagewarningClose, #listMessagesuccessClose, #listMessageClose {
    float: right;
    cursor: pointer;
  }
  .swSprite div {
    left:-9999px;
    position:absolute;
  }
  .noBeaconUI #enhance {
    font-size: 13px;
  }
  .beaconUI #enhance {
    font-size: 12px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
    margin-left: 5px;
  }
  #enhance a {
    text-decoration: none;
  }
  .noBeaconUI enhance a {
    color: #004B91;
  }
  .beaconUI #enhance a {
    color: #124C90;
    font-family: Arial,Helvetica,Verdana,sans-serif;
  }
  .noBeaconUI #enhance a:hover {
    color: #CC6600;
    text-decoration: underline;
  }
  .beaconUI #enhance a:hover {
    color: #E47911;
    text-decoration: underline;
  } 
  .beaconUI #enhance a:hover {
    font-family: Arial,Helvetica,Verdana,sans-serif;
  }
  #enhance h1 {
    color: #E47911;
    margin: 0;
  }
  .noBeaconUI #enhance h1 {
    font-size: 13px;
  }
  .beaconUI #enhance h1 {
    font-size: 12px;
  }
  #enhance .title {
    padding-top: 10px;
  }
  .beaconUI #enhance .title {
    color: #333333;
  }
  #enhance .leaf {
    padding-left: 5px;
  }
  .wlBox {
    _height: 100%;
    position: relative;
    width: 100%;
  }
  .noBeaconUI .wlBox {
    margin-bottom: 15px;
  }
  .beaconUI .wlBox {
    font-family: arial,helvetica,verdana,sans-serif;
    padding-bottom: 15px;
  }
  .wlBoxTL, .wlBoxTL2 {
    background-position: -223px -224px;
    top: -1px;
    left: -1px;
  }
  .wlBoxTR, .wlBoxTR2 {
    background-position: -233px -224px;
    top: -1px;
    right: -1px;
  }
  .wlBoxBL, .wlBoxBL2 {
    background-position: -223px -234px;
    bottom: -1px;
    left: -1px;
  }
  .wlBoxBR, .wlBoxBR2 {
    background-position: -233px -234px;
    bottom: -1px;
    right: -1px;
  }
  .wlBoxTL, .wlBoxTL2, .wlBoxTR, .wlBoxTR2,
  .wlBoxBL, .wlBoxBL2, .wlBoxBR, .wlBoxBR2 {
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
  }
  .wlBoxTL, .wlBoxTR, .wlBoxBL, .wlBoxBR {
    z-index: 2;
  }
  .wlBoxTL2, .wlBoxTR2, .wlBoxBL2, .wlBoxBR2 {
    background-color: #ffffff;
    z-index: 1;
  }
  .wlBoxT, .wlBoxR, .wlBoxB, .wlBoxL {
    background: #EBF2FB;
    border: #C9E1F4 solid;
    display: block;
    position: absolute;
  }
  .wlBoxT, .wlBoxB {
    height: 4px;
    width: 100%;
  }
  .wlBoxR, .wlBoxL {
    width: 4px;
    height: 100%;
  }
  .wlBoxT {
    border-width: 1px 0 0 0;
    top: -1px;
  }
  .wlBoxR {
    border-width: 0 1px 0 0;
    top: -1px;
    right: -1px;
  }
  .wlBoxB {
    border-width: 0 0 1px 0;
    bottom: -1px;
  }
  .wlBoxL {
    border-width: 0 0 0 1px;
    top: -1px;
    left: -1px;
  }
  .noBeaconUI .wlBoxInner {
    padding: 9px;
  }
  .beaconUI .wlBoxInner {
    padding: 0px 9px;
  }
  .noBeaconUI #profile {
    margin: 5px;
  }
  .beaconUI #profile {
    margin: 5px 5px 0px;
  }
  #giftCardPrompt h1,
  #profile h1 {
    color: #E47911;
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 5px;
  }
  .noBeaconUI #profile h1 {
    font-size: 16px;
  }
  .beaconUI #profile h1 {
    font-size: 18px;
  }
  #profile h1.visitor {  
    text-align: center;
    margin-bottom: 10px;
  }
  #profile a {
    text-decoration: none;
    font-weight: normal;
  }
  .noBeaconUI #profile a {
    font-size:13px;
    color: #004B91;
  }
  .beaconUI #profile a {
    font-size:12px;
    color: #124C90;
    font-family: Arial,Helvetica,Verdana,sans-sarif;
  }
  #profile a.regListSel {
    color: #E47911;
    font-weight: bold;
  }
  #profilePicture {
    float: left;
    margin-right: 6px;
    width: 60px;
  }
  #profilePicture a {
    outline: none;
  }
  #profile .wl_ph_owner {
    background-position: -195px -152px;
    height: 62px;
    width: 49px;
  }
  #profile .wl_ph_owner_pending {
    background-position: -352px 0;
    height: 43px;
    width: 47px;
  }
  #profile .wl_ph_visitor {
    background-position: -123px 0;
    height: 150px;
    margin: 0 auto;
    width: 120px;
  }
  #profile .wl_ph_visitor_pending {
    background-position: 0 0;
    height: 150px;
    margin: 0 auto;
    width: 120px;    
  }
  #toggleImg {
    margin: 1px 5px 0 0;
  }
  #profile a.toggle {
     font-size:    13px;
    line-height:12px;
  }
  .noBeaconUI #profile a.toggle {
     font-size:     10px;
  }
  .beaconUI #profile a.toggle {
    font-size:     11px;
  }
  #profileInfo {
    font-size:     11px;
     font-size:    13px;
    margin-top: 10px;
  }
  #profileInfoPrompt p {
    margin: 0 0 10px;
  }
  #profileInfoPrompt a {
    display: block;
    font-weight: bold;
  }
  .profileInfoTitle {
    font-weight: bold;
    margin-top: 10px;
  }
  .profileInfoField {
    margin-left: 12px;
  }
  #profilePdpLink a,
  #profile .regListDef,
  #profile_T1 .regListDef, 
  #regListCreatePopover label,
  #profileInfo .profileInfoField a {
    font-size:     11px;
     font-size:    13px;
  }
  #profileInfo table th {
    color: #666666;
    font-weight: normal;
    padding-right: 5px;
    text-align: right;
    width: 81px;
  }
  #profileInfo table th,
  #profileInfo table td {
    font-size:     11px;
     font-size:    13px;
    padding-bottom: 10px;
    vertical-align: top;
  }
  #profileInfo table.visitor .default {
    color: #666666;
  }
  .noBeaconUI #profile a:hover {
    color: #CC6600;
    text-decoration: underline;
  }
  .beaconUI #profile a:hover {
    color: #E47911;
    text-decoration: underline;
  }
  .caret {
    color: #E47911;
    font-size:     12px;
     font-size:    13px;
  }
  #profilePdpLink span {
    font-weight:bold;
  }
  #profile h2.regListHead {
    font-weight: bold;
    margin: 0;
  }
  .noBeaconUI #profile h2.regListHead {
    color: #000000;
    font-size: 13px;
  }
  .beaconUI #profile h2.regListHead {
    color: #333333;
    font-size: 12px;
  }
  #profile h2#regListprivateHead {
    margin-top: 10px;
  }
  #profile h2#regListsharedHead {
    margin-top: 10px;
  }
  #profile .regListBlock h3 {
    margin: 10px 0 0 15px;
  }
  * HTML  #regListCreate {
    width: 0;
    overflow:visible;
    padding: 0;
  }
  #regListCreate {
    -moz-margin-start:-3px !important;
  } 
  .regListCreate {
  	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
     font: bold 13px Verdana, Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: #004B91;
    background-color:  #FFFFFF;
    border: none;
    align: left;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .regListCreate button:hover,
  .regListCreate:hover {
    color: #CC6600;
    text-decoration: underline;
  }
  * HTML  #regListCreateFirst {
    width: 0;
    overflow:visible;
    padding: 0;
    margin: 0;
    border: 0;
  }
  * HTML #regListCreateFirst div {
    width: 160px;
  }
  #profile .regListCreateFirst {
    font-size:     11px;
     font-size:    13px;
    cursor: pointer;
    color: #004B91;
    background-color: #FFFFFF;
    border: none;
    text-decoration: none;
    align: left;
    padding: 0;
    margin: 0;
    text-align: left;
  }
  .noBeaconUI #profile .regListCreateFirst {
    color: #004B91;
  }
  .beaconUI #profile .regListCreateFirst {
    color: #124C90;
  }
 .noBeaconUI #profile .regListCreateFirst a:hover input,
 .noBeaconUI #profile .regListCreateFirst a:hover {
    color:             #CC6600;
    text-decoration:   underline;
  }
  .beaconUI #profile .regListCreateFirst a:hover input,
  .beaconUI #profile .regListCreateFirst a:hover {
    color:             #E47911;
    text-decoration:   underline;
  }
  #regListCreatePopover .strong {
    font-size:     12px;
     font-size:    13px;
    font-weight: bold;
  }
  #regListCreatePopover input {
    margin: 0;
  }
  #regListCreatePopover td {
    padding: 5px 5px 5px 0;
  }
  #regListPublicTeaser {
    margin: 0 0 10px 15px;
  }
  #regListPublicTeaser form {
    margin: 0;
    padding: 0;
  }
  #profile .regListNoPublic {
    color: #999999;
    font-size:     11px;
     font-size:    13px;
  }
  #profile .regListDetail {
    font-size:     11px;
     font-size:    13px;
    margin-left: 15px;
  }
  .noBeaconUI #profile .regListDetail {
    color: #999999;    
  }
  .beaconUI #profile .regListDetail {
    color: #666666;
  }
  .noBeaconUI div.regManageLists {
    margin-top: 5px;
  }
  .beaconUI div.regManageLists {
    margin-top: 20px;
  }
  .greyhr {
    border-top: 1px dotted #CCCCCC;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin: 10px 0;
  }
  .greyhrDividerSolid {
    border-top: 1px solid #DDDDDD;
    height: 0;
    font-size: 0;
    line-height: 0;
    margin:20px 0 0;
  }
  .regMngHead {
    background-color: #F7F7F7;
    font-weight: bold;
     font-size: 16px;
    
  }
  .regMngHead td {
    padding: 5px;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
  }
  .regMngList td {
    font-size: 13px;
    padding: 5px;
  }
  div.regMngScrollDiv {
    max-height:330px;
    overflow-x:hidden;
    overflow-y:auto;
    border-bottom: 1px solid #CCCCCC;
  }
  td.productImage {
    max-width: none;
  }
  tr.unWrap {
    display: none;
  }
  .wrapAlert {
    color: #ff0000;
    font-weight: bold;
  }
  .wrapText {
    max-width: 580px;
    line-height: 18px;
  }
  .hideQty {
    display: none;
  }
  .textSquash {
     line-height:100%;
  }
  .addCommentQty, 
  .editCommentQty {
    padding-top: 4px;
    line-height: normal;
  }
<%doc>
   Note: the class commentBlock is incredibly overloaded as it is used for both
   product details, and is used for comments.
  
   line-height:normal here is set through more specific selectors
   since the scrunching of text (assumedly for comments) need not apply here, 
   and is causing letters to be trimmed in IE
</%doc>
  span.wlProductInfoRow {
    line-height:normal;
  }
  .strikePrice {
    text-decoration: line-through;
    margin-right:10px;
  }
  .wlPriceBold {
    color:#990000;
    font-weight: bold;
    padding-right: 20px;
  }
  .wlPrice {
    color:#990000;
    font-size:     12px;
     font-size:    13px;
  }
  .wlProdBtnLeft {
    padding-left: 12px;
  }
  .itemQtyCommentJS {
    display: inline-block; 
    width: 100%; 
    min-width: 145px;
  }
  * HTML .itemQtyCommentJS {
    width: 178px;
  }
  .hideInitial,
  .hideInitialInline {
    display: none;
  }
  .showInitial {
    display: block;
  }
  .showInitialInline {
    display: inline;
  }
  .commentBlock {
    font-size:     11px;
     font-size:    13px;
    color: #666666;
    vertical-align: bottom;
  }
  .beaconUI .commentBlock {
    font-size:     12px;
    font-family: Arial, Helvetica, Verdana, sans-serif
  }
  .wlAvailability {
    padding-right: 8px;
  }
  .commentBlock .blue {
    color: #146EB4;
  }
  .commentBlock .strong {
    font-weight: bold;
  }
  .commentBlock .float {
    float: left;
  }
  .littleError {
    margin-left: 25px;
  }
  input.textLink {
    padding: 0 0.25em;
    width: 0;
    overflow: visible;
  }
  input.textLink[class] { 
    padding: 0;
    width: auto;
  }
  .textLink div {
    display: inline;
  }
  .textLink, 
  .textLink a,
  .textLink a:link {
    color: #146EB4;
    background-color: #FFFFFF;
    border: none;
    text-align: bottom;
    font-size:     11px;
     font-size:    13px;
  }
  .beaconUI .textLink a,
  .beaconUI .textLink a:link {
    font-size: 12px;
     font-size:    13px;
  }
  .beaconUI .textLink a input ,
  .beaconUI .textLink a:link input {
    color: #124C90;
    font-size:     12px;
     font-size:    13px;
  }
  .noBeaconUI .textLink a:hover input {
    color: #CC6600;
    cursor: pointer;
    text-decoration: underline;
  }
  .beaconUI .textLink a:hover input {
    color: #E47911;
    cursor: pointer;
    text-decoration: underline;
  }
  .sortbarTopTable {
    padding: 0 4px 0 2px;
    margin-bottom: 15px;
    width: 100%;
    vertical-align: middle;
  }
  .noBeaconUI .sortbarText {
    font-size: 9px;
    font-family:  Verdana,Arial,Helvetica,sans-serif;
     font: 13px Verdana,Arial,Helvetica,sans-serif;
    color: #000000;
    margin-right: 6px;
  }
  .beaconUI .sortbarText {
    font-size: 12px;
    font-family: Arial,Helvetica,Verdana,sans-serif;
     font: 13px Arial,Helvetica,Verdana,sans-serif;
    color: #000000;
    margin-right: 6px;
  }
  .noBeaconUI .sortbarPageText {
    font-size: 11px;
     font-size: 13px;
    margin-right: 0px;
  }
  .beaconUI .sortbarPageText { 
    font-size: 12px;
     font-size: 13px;
    margin-right: 0px;
  }
  .noBeaconUI .sortbarItemText {
    font-size:     11px;
     font-size:    13px;
    color: #888888;
  }
  .beaconUI .sortbarItemText {
    font-size:     12px;
     font-size:    13px;
    color: #888888;
  }
  #giftCardPrompt td {
    padding-left: 20px;
  }
  .wlGiftCard {
    background-position: -257px -24px;
    height: 52px;
    width: 80px;
  }
  .noImageAvail {
    background-position: -140px -152px;
    height: 60px;
    width: 50px;
    display: block;
  }
  .uwlShim {
    background-position: -377px -76px;
    height: 21px;
    width: 21px;
  }
  .uwlBadgeText {
    font-size: 80%;
  }
  .postModifyActions {
    margin: 4px 0 2px;
  }
  .postModifyRecs {
    padding-top: 5px;
    height:20px;
  }
  .templateProductTitle  {
    text-decoration: none;
    color:#004b91;
  }
  .wl-movepop-wrapper {
    overflow-x: hidden;
    position: relative;
  }
  .wl-movepop-wrapper-full {
    border-top:1px dotted #AAAAAA;
    border-bottom:1px dotted #AAAAAA;
    max-height: 164px;
    overflow-y:auto;
    padding-top:4px;
    height:160px;
  }
  .wl-list-type, .wl-list-type-break {
    color: #9D9D74;
    float: right;
    font-size:     9px;
     font-size:    13px;
    margin-right: 2px;
    max-height: 20px;
    overflow: hidden;
    text-align: right;
  }
  .wl-list-type-break {
    margin-top: 2px;
    line-height: 9px;
  }
  .wl-list-headline {
    font-size:     12px;
     font-size:    13px;
    font-weight: bold;
    width: 185px;
    padding: 5px 0;
  }
  .wl-selected-list {
    color:#999999;
  }
  .textLinkSmall {
  	font: 12px Verdana, Arial, Helvetica, sans-serif;
     font: 13px Verdana, Arial, Helvetica, sans-serif;
    background-color:  #FFFFFF;
    border: none;
  }
  .wl-popover-header {
    font-weight:bold;
    color : #E47911;
    margin-bottom:5px;
  }
  .peekabooFixHeight {
    height:1%;
  }
  .popImg {
    margin: 0 10px 1px 0;
  }
  .noteFieldNoError input {
    color: black;
    border-width:1px;
    padding:1px;
  }
  .noteFieldError {
    color: #A31919;
  }
  .noteFieldError input {
    color: black;
    border-width:1px;
    border-color:#A31919;
    padding:1px;
  }
  a.list-link-inactive { color: #003399; text-decoration: none; font-size: 10pt; }
  a.list-link-inactive:hover { text-decoration: underline; }
  a.list-link-active { color: #333333; text-decoration: none; font-weight:bold; font-size: 10pt; }
  a.list-link-active:hover { text-decoration: underline; }
  a.reglist-action { color: #003399; text-decoration: none; }
  a.reglist-action:hover { text-decoration: underline; }
  .list-greetings { background-color: #F5F5E6; color: black; text-align: center; }
  .tinyBlack { font: 0.6em verdana,arial,helvetica,sans-serif; color:#333333; }
   .tinyBlack { font: 13px verdana,arial,helvetica,sans-serif; color:#333333; }
  .copyable code {
    background-color: #EEEEEE;
    overflow: scroll;
    display: block;
    font-size:     8px;
     font-size:    13px;
    width: 410px;
  }
  .reglist-buttons { text-align: center; padding: 8px; }
  .link-caret { color: #CC6600; font-weight: bold; }
  .list-action a { margin: 0; }
  .list-action img { margin: 3px 0; }
  .search-field-name input{
    width: 171px;   
  }
  .beaconUI .search-field-name input{
    font-size: 12px;
    font-family: arial,helvetica,verdana,sans-serif;
    color: #666666;
    font-style: italic;
    width: 200px;
  }
  .wl-title-searchbox-label {
     font-size:     12px;
      font-size:    13px;
     font-weight: bold;
     padding: 0 4px 4px 0;
   }
  .beaconUI .wl-title-searchbox-label {
     color: #333333;
     font-family: arial,helvetica,verdana,sans-serif;
     font-size: 14px; 
   }
  .wl-wish-list-title { font: 1.2em verdana,arial,helvetica,sans-serif; color:#333333; }
  .wl-header-list-type { font: 0.6em/1em verdana,arial,helvetica,sans-serif; color:#ffffff; }
  .microRed { font: xx-small verdana,arial,helvetica,sans-serif; color:#990000; }
  .microGrey { font: xx-small verdana,arial,helvetica,sans-serif; color:#666666; }
  .x-microGrey { font: 0.55em verdana,arial,helvetica,sans-serif; color:#666666; }
   .wl-wish-list-title { font: 19px verdana,arial,helvetica,sans-serif; color:#333333; }
   .wl-header-list-type { font: 13px verdana,arial,helvetica,sans-serif; color:#ffffff; }
   .microRed { font: 13px verdana,arial,helvetica,sans-serif; color:#990000; }
   .microGrey { font: 13px verdana,arial,helvetica,sans-serif; color:#666666; }
   .x-microGrey { font: 13px verdana,arial,helvetica,sans-serif; color:#666666; }
  
  .compact-items { border-collapse: collapse; }
  .compact-items td { border: 1px dotted #999999; }
  .wl-smalltext { 
  	font-size:     10px;
     font-size:    13px;
  }
  .popover-header { background-color: #FFFFFF; }
  .popover-header-text { color: #4480DD; font-family: verdana,arial,helvetica,sans-serif; font-weight: bold; }
  .searchbox {
    height: 60px;
    width: 100%;
    padding: 4px;
    background-color: white;
  }
  .searchbox .searchbox-header {
    color: #CC6600;
    font-weight: bold;
    text-align: center;
  }
  .box-edge-top {
    border-top: 1px solid #5CA3D2;
    height: 5px;
  }
  .box-edge-left {
    border-left: 1px solid #5CA3D2;
    width: 5px;
  }
  .box-edge-rt {
    border-right: 1px solid #5CA3D2;
    width: 5px;
  }
  .box-edge-bot {
    border-bottom: 1px solid #5CA3D2;
    height: 5px;
  }
  .searchbox-blue {
    height: 60px;
    width: 100%;
    background-color: white;
  }
  .searchbox-blue .searchbox-header {
    color: #CC6600;
    font-weight: bold;
  }
  .linkbox a {
    text-decoration: none;
    font-size: .85em;
    line-height: 150%; 
    color: #003399;
  }
  .linkbox a:hover {
    text-decoration: underline;
  }
  .list-header td {
    padding: 0 5px 0 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14pt;
  }
  h3.listOfLists {
    font-size:     11px;
     font-size:    13px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
  }
  .side-column {
    border-collapse: collapse;
  }
  .iterator-item-separator {
    margin: 15px 0 8px;
    border-top: 1px dotted #CCCCCC;
  }
 .iterator-item-attr-separator {
    border-left: 1px solid #C9E1F4;
  }
  .sortbar-owner-top {
    margin-bottom: 20px;
    border-bottom: 1px solid #C9E1F4;
    border-top: 1px solid #C9E1F4;
  }
  .sortbar-owner-bottom {
    border-top: 1px dashed #6698CB; 
    border-bottom: 1px dashed #6698CB;
  }
  .side-column .amabot-slot {
    margin: 5px 0;
  }
  .no-items-text {
    text-align: center;
    font-size: small;
    padding: 15px 0 7px;
  }
  .no-items-detail {
    text-align: center;
    font-size: x-small;
    padding: 8px 10px 10px;
  }
  .wl-iter-heading {
    color: #666666;
    font-weight: bold;
  }
  body {
  	font: 12px Arial,Helvetica,Verdana,sans-serif;
     font: 13px Arial,Helvetica,Verdana,sans-serif;    
  }
  input,
  input.textLink {
    font-family: Verdana,Arial,Helvetica,sans-serif
  }
  .beaconUI input.textLink {
    font-family: Arial,Helvetica,Verdana,sans-serif 
  }
  td {
    font-size:     12px;
     font-size:    13px;
  }
  .heading {
    font-size: 130%;
    font-weight: bold;
  }
  .subheading {
    margin-top: 5px;
    font-weight: bold;
  }
  .list-topic {
    color: #E47911; 
    margin-bottom: 5px;
    font-weight: bold;
  }
  .visuals a {
    cursor: default;
  }
  .pageGradientTop_T1 {
    background-color: #E8E8E8;
    border-bottom: 1px solid #F7F7F7;
    border-top: 1px solid #D1D1D1;
    height: 2px;
    margin-bottom: 10px;
    line-height: 0px; 
    font-size: 0px;   
  }
  .pagGradientBottom_T1 {
    background-color: #E8E8E8;
    border-bottom: 1px solid #D1D1D1;
    border-top: 1px solid #F7F7F7;
    height: 2px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 0px; 
    font-size:0px;    
  }
  .instructions-page {
    padding: 20px 0 0 100px;
   } 
  
  * html .instructions-page {
    width: 100%;
  }
  .htmlFormsContainer {
    padding: 5px 0 0 100px;
  }
  * html .htmlFormsContainer {
    width: 100%;
  }
  .instructions-text {
    color: #990000;
    font-weight:bold;
   } 
  #iiInstructions {
    background-color: #FFFFDD;
    border: 1px solid #E6E6BE;
    margin-top: 15px;
    padding: 5px;
  }
  #iiInstructions .instructions {
    text-align: center;
  }
  #iiWarning {
    padding-left: 15px;
    font-weight: bold;
  }
  .iiBranch {
    padding-top: 20px;
    font-size:14px;;
  }
  .orange,
  .orange a {
    color: #E47911 !important;
  }
  .postModifyWrapper {
    padding:12px;
  }
  .postModifyText {
    font-size:     12px;
     font-size:    13px;
  }
  .postModifyActions {
    margin-left:15px;
    font-size:     12px;
     font-size:    13px;
  }
  .ltGreen {
    color: #009900;
  }
  .green {
    color: #669900;
  }
  .ltgray {
    color: #999999;
  }
  .frame {
    border-collapse: collapse;
  }
  .valign {
    vertical-align: top;
  }
  .black {
    color: #000000;
  }
  .clear {
    clear: both;
  }
  .grey {
    color: #999;
  }
  .tip {
    color: #999;
    font-size: 0.75em;
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }
  .layout2Cols {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0 50px;
  }
  .layout2Cols h1 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    margin: 1em 0 0 0;
  }
  .layout2Cols h3 {
    color: #E47911; 
    font-size: 0.9em;
    margin: 0.25em 0 0;
  }
  .leftCol {
    width: 200px;
    vertical-align: top;
    padding: 0;
  }
  .sepCol {
    width: 10px;
  }
  .rightCol {
    vertical-align: top;
    padding: 0 0 0 15px;
  }
  .roundBox {
    width: 100%;
  }
  .learnMoreBox {
    float: right;
    width: 200px;
    text-align: center;
    margin: 1em 0 0;
  }
  .newAddressForm {
    margin: 0 0 0 5em;
  }
  .newAddressForm table {
    width: 400px;
  }
  .newAddressForm .long {
    width: 250px;
  }
  .newAddressForm .short {
    width: 200px;
  }
  .terms-of-service {
    max-width: 700px;
    min-width: 200px;
    margin: 0 auto;
  }
  .tos-heading {
    text-align: center;
    font-weight: bold;
    font-size: 130%;
    margin: 15px 0px 5px;
  }
  .vbLearnMoreTip {
    max-width: 400px;
    padding: 10px;
  }
  .reservWarn {
    border: 1px solid #E3E1C2;
    background-color: #FFFFCC;
    padding: 3px;
  }
  #landingPage h2 {    
    color: #E47911;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 5px;
  }
  .wl_ld_get {
    margin: 10 15 30 0;
  }
  .wl_ld_create {
    margin: 0 15px 2px 0;
   }
  .wl_ld_features {
    display: block;
    height:135px;
    width:250px;
    background-position: 0 -880px;
  }
  .wl_ld_feature_map {
    display: block;
    height:335px;
    width:475px;
    background-position: 0 -1105px;
    vertical-align:top;
    }
  .ap_popover {
    outline: none
  }
  .appMessageBoxSuccess {
    border: 1px solid #447F00;
    background-color: #FFFFDD;
    padding: 10px;
    margin-top: 10px;
    color: #006633;
  }
  .appMessageBoxFailure {
    border: 1px solid #FF7F00;
    background-color: #FFFFDD;
    padding: 10px;
    margin-top: 10px;
    color: #FF7F00;
  }
  .appMessageBoxInfo {
    border: 1px solid #E47911;
    background-color: #FFFFDD;
    padding:10px;
    margin-top: 10px;
    color: #000000;
  }
  .appMessageHeader {
    font: bold 13px verdana,arial,helvetica,sans-serif;
  }
  .appMessageInfo {
  	font: 12px verdana,arial,helvetica,sans-serif;
     font: 13px verdana,arial,helvetica,sans-serif;
    color: #000000;
  }
  .merchbarW .start-over {font-size: 11px;}
   .merchbarW .start-over {font-size: 13px;}
  .merchbarW a:visited {color: #996633;}
  .merchbarWSeemore .caret {
    color:#E47911;
    font: bold 120% arial,helvetica,sans-serif;
    margin-right:0.2em;
  }
  .merchbarWSeemore a {
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
  }
  .merchbarW .product-image {margin-bottom: 0.45em;}
  .merchbarW .rating-price {
    margin: 0.40em 0;
  }
  .merchbarW .rating-price .price {
    margin-top: 0.25em;
  }
  .merchbarWRating-stars {
    font-size: 80%;
    margin-right: 0.95em;
  }
  .merchbarWRating-stars img {padding-bottom:1px}
  .merchbarW div.cBox.secondary {border-style: none none none solid;}
  .alertstripe .cBox.primary {
    font: 12px verdana,arial,helvetica,sans-serif;
     font: 13px verdana,arial,helvetica,sans-serif;
    width: 99%;
  }
  .alertstripe .cBox.primary a {font-weight: bold;}
  
  .message {
	margin:10px 0 10px 0;
	padding:10px;
	color:black;
	font-size:12px;
	border:1px #0071B5 solid;
	background:#ffffdd;
  }
  .message h6 {
	font-size:13px;
	margin:0 0 .25em 35px;
	padding:0;
  }
  .message p {
	margin:0 0 .25em 35px;
	padding:0;
  }
  
  
  .message ul {padding-left:0; margin-left:10px;}
  .message li {margin-left:35px; list-style-type:disc;}
  .message a { color: #004B91;}
  
  
  .message .swSprite { vertical-align: baseline; }
  .success { color:#006633; border:1px solid #447F00; }
  .warning {border:1px solid #E47911;}
  .error { color:#A31919; border:1px solid #A31919;}
  .mini { font-size:10px; padding:7px;border:1px #DDDAC0 solid; }
  .mini h6 {font-size:11px; margin-left:25px;}
  .mini p {margin-left:25px;}
  
  .beaconUI #createPipeProfileBox {
    border-right: 1px solid #F5F5F5;
    padding-bottom: 10px;
  }
  .noBeaconUI .textLink a,
  .noBeaconUI .textLink a:link {
    color: #146EB4;
  }
  .noBeaconUI .textLink a:hover {
     color: #CC6600;
  }
  
  .itemSearchDiv {
    margin-bottom: 0.75em;
  }
  .moveSuccessMessage {
     background-color: #FFD;
     border: 1px solid #CCC;
     margin-bottom: 1em;
     height: 100% !important;
  }
  .itemSearchForm {
    margin-top: 1.25em;
    margin-bottom: 0;
  }
  #findItemGo {
    margin-left: 0.75em;
    border-radius: 1em;
    margin-bottom: 0.3em;
  }
  .searchBoxLabel {
    color: #333;
    font-size: 12px;
    padding-bottom: 0.2em;
    font-weight: bold;
  }
  .searchFeedbackLink {
    padding-left: 0.125em;
  }
  .search-breadcrumb {
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  .search-top {
    height: 1.5em;
    padding: 0.5em;
    background-color: #EEE;
    margin-bottom: 1em;
  }
  .topNavShowing {
    float: left;
    padding-top: 0.25em;
  }
  .topNavView {
    float: right;
  }
  .hidden {
    display: none;
  }
  #searchListsItem {
    width: 13.5em;
    font-size: 11px;
  }
  ::-webkit-input-placeholder {
    font-style: italic;
    color: #666666;
  }
  :-moz-placeholder {
    font-style: italic;
    color: #666666;
  }
  :-ms-placeholder {
    font-style: italic;
    color: #666666;
  }
  input:focus {
    font-style: normal;
    color: #333;
  }
  .info-box {
    padding: 1em;
    overflow: hidden;
    color: #2E7B9A;
    border: 1px #3388AA solid;
    background-color: white;
    margin-bottom: 1em;
  }
  .notify-inner {
    padding: 0.5em;
  }
  tr.visible {
    display: table-row;
  }
  
/* CN--registries-2620092143.css end */
